# Assignment Part-I Task-1

Name: Michael Merrick  SID: 44849354

**Task-1** Regression on Power Consumption Time Series (3 marks): The time series dataset consists of samples about the weather factors and the power consumption of City A in 2017 (for assignment purpose, some specific information is hidden). Every ten minutes, the weather information including Temperature, Humidity, and Wind Speed is recorded together with the power consumption. You are required to train a regression prediction model for the next day’s power consumption prediction based on the historical records of the past week (7 days).

Notes:

1). The data set has not be pre-processed, and you might need to consider pre-processing issues like missing value imputation and standardization before training the model.

2). Please note that while the goal is to build the model for predicting daily power consumption, the data is sampled every ten minutes.

3). So, you should perform basic feature extraction for time series by the sliding window technique. This is a very important step for the success of the built model. Let W be the window size. If the task is to predict the power consumption at time stamp (i.e., day) t, you could construct features with the historical data at time stamps from t-W to t-1. Data instances after the feature extraction can be regarded as independent of each other. Also, it is also noted that the data set is a multi-dimensional time series. 

4). With obtained feature vectors, a linear regression model can be trained for prediction.

In [2]:
import numpy as np
import pandas as pd

In [3]:
data=pd.read_csv('data/power-consumption/power-consumption.csv')
data

               DateTime  Temperature  Humidity  Wind Speed  Power Consumption
0           1/1/17 0:00        6.559      73.8       0.083        34055.69620
1           1/1/17 0:10        6.414      74.5       0.083        29814.68354
2           1/1/17 0:20        6.313      74.5       0.080        29128.10127
3           1/1/17 0:30        6.121      75.0       0.083        28228.86076
4           1/1/17 0:40        5.921      75.7       0.081        27335.69620
...                 ...          ...       ...         ...                ...
52411  12/30/2017 23:10        7.010      72.4       0.080        31160.45627
52412  12/30/2017 23:20        6.947      72.6       0.082        30430.41825
52413  12/30/2017 23:30        6.900      72.8       0.086        29590.87452
52414  12/30/2017 23:40        6.758      73.0       0.080        28958.17490
52415  12/30/2017 23:50        6.580      74.1       0.081        28349.80989

[52416 rows x 5 columns]

In [4]:
##Pre-processing
data=data.rolling(window=144).mean()
data=data.dropna()
print(data.isnull().sum())

Temperature          0
Humidity             0
Wind Speed           0
Power Consumption    0
dtype: int64

C:\Users\m2404\AppData\Local\Temp\ipykernel_19996\2873772670.py:2: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['DateTime'], dtype='object')
  data=data.rolling(window=144).mean()

In [5]:
from sklearn import model_selection as ms
from sklearn import linear_model as lm
from sklearn.metrics import mean_squared_error, r2_score

X = data[['Temperature', 'Humidity', 'Wind Speed']].values
y = data['Power Consumption'].values
X_train, X_test, y_train, y_test = ms.train_test_split(X, y, test_size=0.2)

print("training data feature shape:", X_train.shape)
print("training data label shape:", y_train.shape)

print("test data feature space shape:", X_test.shape)
print("test data label shape:", y_test.shape)


ordinaryLRmodel = lm.LinearRegression()
ordinaryLRmodel.fit(X_train, y_train)
print("coefficient:", ordinaryLRmodel.coef_)
print("intercept:", ordinaryLRmodel.intercept_)

y_pred = ordinaryLRmodel.predict(X_test)
print("y pred: ",y_pred)
print('Mean squared error: %.2f' %mean_squared_error(y_test, y_pred))
print('Coefficient of determination: %.2f' %r2_score(y_test, y_pred))

training data feature shape: (41818, 3)
training data label shape: (41818,)
test data feature space shape: (10455, 3)
test data label shape: (10455,)
coefficient: [355.67674957   4.81267241 102.5028367 ]
intercept: 25131.753286748968
y pred:  [32347.01638381 36961.06299094 34807.885252   ... 30228.00990069
 32634.05207228 35760.33118956]
Mean squared error: 3158573.13
Coefficient of determination: 0.54

C:\Users\m2404\AppData\Local\Temp\ipykernel_15876\1170780901.py:2: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['DateTime'], dtype='object')
  data.rolling(window=144).mean()

       Temperature   Humidity  Wind Speed  Power Consumption
0              NaN        NaN         NaN                NaN
1              NaN        NaN         NaN                NaN
2              NaN        NaN         NaN                NaN
3              NaN        NaN         NaN                NaN
4              NaN        NaN         NaN                NaN
...            ...        ...         ...                ...
52411    11.868819  50.826250    0.078042       28154.964090
52412    11.824771  50.957917    0.078069       28152.936206
52413    11.780674  51.087014    0.078139       28147.782003
52414    11.735451  51.220278    0.078160       28147.021546
52415    11.688993  51.361667    0.078174       28145.669624

[52416 rows x 4 columns]